#presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 2em;
}

.text1 {
  font-size: 1.4em;
}
.text2 {
  font-size: 1em;
}

#text-presentation {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  gap: 1.1em;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page {
  display: flex;
  justify-content: center;
}
#me-picture {
  height: 27 vh;
  width: auto;
}
.line {
  background-color: var(--second-color);
  height: 2px;
  width: 30%;
  margin: 2em 0;
}

.name {
  color: var(--second-color);
}
